.header{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}

.fa.fa-upload{
    padding: 0.7rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
    position: sticky; 
    left:"1rem";
    top: "6rem";
    z-index:0 ;
}

.reelsUploader{
    color: rgb(255,160,122) !important;
    padding: 0rem !important;
    width: 10rem !important;
    position: absolute;
    left: 1rem;
    top: 6rem;
    height: 3rem;
    border-radius: 0.5rem;

}

.reelsUploader{
    
}

.instaImg{
    /* width: 10vw !important; */
    height: 8vh;
}

.profilePicture{
    height: 10vh;
    width: 10vh;
    border-radius: 50% ;
}

.mainContainer{
    display: flex;
    justify-content: space-evenly !important;
    margin: 1rem;
    height: calc(100vh - 6rem) !important;
}



