.header{
    height: 5rem;
    border-bottom: 2px solid grey;
    display: flex !important;
    justify-content: end;
}

.logOut{
    display: block;
    align-self: center;
}

.redirectToFeedDiv{
    text-align: center;
    position: absolute;
    margin: 0rem !important;
    left: 38vw;
    top: 18rem;
    font-size: 2rem;
}
.redirectToFeedDiv h4{
    font-size: 2rem;
}
.redirectToFeed{
    position: absolute;
    right:-4rem;
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    margin: 1rem;
}

.redirectToFeed:hover{
    color: white !important;
}

.pimg{
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

.main{
    display: flex;
    justify-content: center;
    background-color: palegreen;
    width: 30vw;
    border-radius: 0.75rem;
}

.main>*{
    margin: 1rem;
}