.commentForm {
    height: 10%;
    display: flex;
}

.commentForm input {
    width: 85%;
}

video {
    /* border-radius: 10%; */
    height: 30rem;
    position: relative;
    left: -8rem;
    border: 2px solid white;
}

.videoCardCommentBox>* {
    width: fit-content;
    margin-left: 0rem !important;
}

.videoCardCommentBox {
    width: fit-content;
}

.videoCardCommentBox input {
    width: fit-content !important;
}
.commentBox{
    width: 0rem;
}

.comments {
    color: white !important;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px white !important;
    box-shadow: 2px 2px 2px 1px rgb(255, 0, 0), -2px -2px 2px 1px rgb(255, 0, 0);
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    width: 17rem;
    border-radius: 1rem;
    background-color: orangered;
}

.videoCard{
    border: 5px solid rgb(255, 204, 0);
    border-radius: -.4rem;
    padding: 0.5rem;
    padding-top: 3rem;
    padding-left: 6rem;
    margin: 1rem;
    width: fit-content;
    display: flex;
    padding-bottom: 3rem !important;
    background-color: black;
}

.reelHeader{
    display: flex;
    position: relative;
    left: 6.3rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    top: -2.4rem;
    width: 12rem;
    justify-content: space-around !important;
    color: white !important;
}

.reelDp{
    height: 2rem;
    border-radius: 50%;
}

.reelHeader h6{
    position: relative;
    top: 0.3rem;
    
}

.postComment>* {
    display: flex;
    justify-content: space-around;
}

.postComment {
    position: static;
    top: 38.5rem;
    left: 40rem;
    border-radius: 3rem !important;
}

.videoCardUsername,
.videoCardMusic {
    position: absolute;
    top: -1.6rem !important;
}


.like {
    position: relative;
    top: 14.95rem;
    left: -12rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.fa-solid.fa-comment {
    position: relative;
    top: 28.7rem;
    left: -12.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}

.videoCardUsername {
    left: 0rem;
}

.videoCardMusic {
    left: 7rem;
}